<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	
	<resultMap id="boardMap" type="com.bitschool.mentorschool.vo.BoardVO">
		<result column="BNO" property="bno" />
		<result column="SUBJECT" property="subject" />
		<result column="CONTENT" property="content" />
		<result column="WRITER" property="writer" />
		<result column="WRITEDATE" property="writedate" />
		<result column="HITCOUNT" property="hitcount" />
		<result column="P_BNO" property="p_bno" />
		<result column="LEVEL" property="level" />
	</resultMap>
	
	<insert id="insertBoard"
		parameterType="com.bitschool.mentorschool.vo.BoardVO">
		
		<selectKey keyProperty="bno" order="BEFORE" resultType="java.math.BigInteger">
			SELECT seq_board_bno.NEXTVAL FROM dual
		</selectKey>
		
		INSERT INTO board (BNO,SUBJECT,CONTENT,WRITER,WRITEDATE,HITCOUNT,P_BNO)
		VALUES (
			#{bno},
			#{subject},
			#{content},
			#{writer},
			SYSDATE,
			0,
			#{p_bno}
		)
	</insert>
	
	<select id="selectBoardList"
		parameterType="java.util.Map"
		resultMap="boardMap">
		<![CDATA[
			SELECT t.*
			FROM (
			  SELECT  /*+ INDEX_DESC (b BOARD_PK_BNO) */
			          rownum rnum, level, b.bno, b.subject, b.content,
			          m.name writer, b.writedate, b.hitcount, b.p_bno
			  FROM    board b,
			          member m
			  WHERE   b.writer = m.memberid(+)
			  START WITH b.p_bno IS NULL
			  CONNECT BY PRIOR b.bno = b.p_bno
			  ORDER SIBLINGS BY b.bno DESC
			) t
			WHERE   rnum >= (#{page} - 1) * #{pageSize} + 1
			  AND   rnum <= #{page} * #{pageSize}
		]]>
	</select>
	
	<select id="selectBoardByBno"
			parameterType="java.math.BigInteger"
			resultMap="boardMap">
		SELECT b.bno, b.subject, b.content,
		       m.name writer, b.writedate, b.hitcount, b.p_bno
		FROM   board b,
		       member m
		WHERE  b.bno = #{value}
		  AND  b.writer = m.memberid(+)
	</select>
	
	<select id="getTotalPages"
			parameterType="int"
			resultType="int">
		SELECT (COUNT(*) - 1) / #{pageSize} + 1
		FROM   board
	</select>
	
	<update id="updateBoard"
		parameterType="com.bitschool.mentorschool.vo.BoardVO">
		UPDATE board
		SET    subject = #{subject},
		       content = #{content}
		WHERE  bno = #{bno}
	</update>
	
</mapper>















