<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>ServletJSP-Day04</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- HTTP Error Page 설정 -->
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/500.jsp</location>
	</error-page>
	
	<!-- Exception 종류에 따른 Error Page 설정 -->
	<error-page>
		<exception-type>java.lang.NumberFormatException</exception-type>
		<location>/error/nf_ex.jsp</location>
	</error-page>
	
	<!-- 세션 타임아웃 설정 -->
	<session-config>
		<session-timeout>1</session-timeout><!-- 분(minute) 단위 -->
	</session-config>
	
	<!-- 관리자 아이디/비밀번호 Context InitParam으로 설정 -->
	<context-param>
		<param-name>AdminID</param-name>
		<param-value>admin</param-value>
	</context-param>
	<context-param>
		<param-name>AdminPW</param-name>
		<param-value>1234</param-value>
	</context-param>
	
	<!-- DataSource 설정 -->
	<resource-ref>
		<res-ref-name>jdbc/orcl</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	
</web-app>


































